xsd2cppsax/tests/t03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    This Test handles simple attributes.
 -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netallied.de/xsd2cppsax/tests" xmlns:tns="http://www.netallied.de/xsd2cppsax/tests" elementFormDefault="qualified">
    <element name="root" type="tns:RootType"></element>

    <complexType name="RootType">
    	<attribute name="stringAttr" type="string"></attribute>
    	<attribute name="intAttr" type="int"></attribute>
    </complexType>
</schema>
