xsd2cppsax/tests/validation_complex_types/t03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    This test handles a simple all.
 -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netallied.de/xsd2cppsax/tests" xmlns:tns="http://www.netallied.de/xsd2cppsax/tests" elementFormDefault="qualified">

    <element name="root" type="tns:RootType"></element>

	<complexType name="RootType">
		<all>
			<element name="elem1" minOccurs="0" maxOccurs="1" />
			<element name="elem2" minOccurs="1" maxOccurs="1" />
		</all>
	</complexType>

</schema>
